# IntelliJ
*.iml
*.ipr
*.iws
.idea
out

# Scala
target
*.class
*.log
*.cache

#Eclipse
build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml

#OS
.DS_Store